*{
    margin:0;
    box-sizing: border-box;
}
h1, h2, p {
    color: white;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 30px;
}

/* Logo */ 
.logo{
    width: 20%;
    height: 100%;
}

.logo h2{
    overflow: hidden;
    background-color:none;
    padding:30px 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    }

/* Menu */    


.nav{
    width: 75%;
    height: 100%;

}
.menu {
    
    overflow: hidden;
    background-color:none;
    padding: 20px 10px;
    
  }

  .menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration:solid;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  .menu a.active {
    background-color: dodgerblue;
    color: white;
  }
  .menu-right {
    float: right;
  }
  
  
  
  /* Main */


.main{
  background-image: url("/imagen/background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  position: static; 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    }
.section{
    width: 25%;
    height: 100vh;
}
#imagen-cv-ed{
    
    position: static;
    margin-top: 200px;
    padding: 50px;
    width:300px;
    height:400px;
    justify-content: center;
    align-items: center;
  }

/* biografia*/


  .aside{
    width: 70%;
    height: 100vh;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aside h1{
  color: white;
  text-align: center;
  margin-top: 155px;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}
.aside p{
  font-size: 20px;
 padding: 10px;
 color: white;
 margin-top: 1px;
  margin-left: 120px;
  margin-right: 120px;
  font-family: 'Josefin Sans', sans-serif;
}
.read-more-btn {
  margin-top: 20px;
  background-color: #af7c4c;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #af4c4c;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.read-more-btn:hover {
  box-shadow: none;
  background-color: black;
  color: #fff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}
.hideText {
  display: none;
}

.showText {
  display: block;
}

/* multimedia*/


.multimedia{
    background-image: url("/imagen/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video{
    width: 50%;
    height: 100%;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#videoyoutube{
  margin-top: 20%;
  margin-left: 25px;
}
#videoyoutube h1{
  margin-top: 25%;
  margin-left: 35%;
  align-items: center;
  font-size: 50px;
}
#audio{
  width: 50%;
  height: 100%;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#link-audio{
  margin-top: 10%;
  margin-left: 75px;
}
#link-audio h1{
  margin-top: 25%;
  margin-left: 35%;
  align-items: center;
  font-size: 50px;
  }



/*   formulario  */


form{
  background-image: url("/imagen/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  width: 100%;
  height: 100vh;

}

form {
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  padding: 40px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 100px;
  margin: 50px;
  margin-left: 30%;
  width: 100%;
  height: 200px;
  margin-top: 200px;
  
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  color: white;
  text-align: center;
  align-items: center;
}

input,
textarea {

  font: 1em;
  font-family: 'Josefin Sans', sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus,
textarea:focus {

  border-color: #000;
}

textarea {

  vertical-align: top;

  height: 5em;
}

.button {

  padding-left: 90px;
  align-items: center;
  
}

button {

  margin-left: .5em;
  align-items: center;
}

.footer{
    background: grey;
    width: 100%;
    height: 100px;
}